				<h2>Notifications:</h2>
				<div class="collection">
					<a class="collection-item avatar black-text text-lighten-3"
						href="#!"> <span class="title">Notification</span><br> <span>Desc
							descr Desc descr Desc descr Desc descrDesc descr Desc descr<br>
							Master doc
					</span>
					</a> <a class="collection-item avatar black-text text-lighten-3"
						href="#!"> <span class="title">Notification</span><br> <span>Desc
							descr Desc descr Desc descr Desc descrDesc descr Desc descr<br>
							Master doc
					</span>
					</a> <a class="collection-item avatar black-text text-lighten-3"
						href="#!"> <span class="title">Notification</span><br> <span>Desc
							descr Desc descr Desc descr Desc descrDesc descr Desc descr<br>
							Master doc
					</span>
					</a> <a class="collection-item avatar black-text text-lighten-3"
						href="#!"> <span class="title">Notification</span><br> <span>Desc
							descr Desc descr Desc descr Desc descrDesc descr Desc descr<br>
							Master doc
					</span>
					</a>
				</div>